<section class="FirstView">
    <div class="FirstView_container">
        <h2 class="FirstViewContent_title">
            ポテパンシェアでまだ体験したことない旅をしよう！
        </h2>
        <div class="Firstview_Serch">
            <p>エリア</p>
            <input type="search" name="search" placeholder="東京">
            <input type="search" name="search" placeholder="東京">
        </div>
    </div>
</section>
<section class="SecondView">
    <h2>おすすめエリア</h2>
    <ul class="RecommendationS">
        <a><li class="Recommendation_area" id ="tokyo"><p class="center">東京</p>
        </li></a>
        <a><li class="Recommendation_area" id ="osaka"><p class="center">大阪</p>
        </li></a>
        <a><li class="Recommendation_area" id ="kyoto"><p class="center">京都</p>
        </li></a>
        <a><li class="Recommendation_area" id="sapporo"><p class="center">札幌</p>
        </li></a>
    </ul>
</section>